div
  div(style='text-align:center;color: #ccc;font-size:14px;font-family: cursive;')
    | -------------&#x7EB8;&#x77ED;&#x60C5;&#x957F; 
    i.fa.fa-umbrella
    |  &#x4E0B;&#x6B21;&#x518D;&#x89C1;-------------